body, #canvas-container {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: antiquewhite;
}

canvas {
    border: 1px solid black;
    background-color: black;
}

@media (max-width: 620px) {
    canvas {
        transform: scale(0.53);
    }
}